{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div>
  <h1 class="text-3xl font-semibold">Dashboard</h1>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  <div class="p-4 rounded-xl bg-white">
    <p class="text-sm text-gray-500">Total Ruangan</p>
    <p class="text-2xl font-bold">{{ total_rooms }}</p>
  </div>

  <div class="p-4 rounded-xl bg-white">
    <p class="text-sm text-gray-500">Booking Hari Ini</p>
    <p class="text-2xl font-bold">{{ total_booking_today }}</p>
  </div>

  <div class="p-4 rounded-xl bg-white">
    <p class="text-sm text-gray-500">Menunggu Persetujuan</p>
    <p class="text-2xl font-bold">1</p>
  </div>
</div>
{% endblock %}
